.logo{
margin-top: 33px;
margin-left: 558px;
width: 164px;
height: 48px;
}

.nav{
height: 26px;
width: 100%;
}

li{
display: inline-block;
width: 100px;
height: 26px;
font: normal normal 600 19px/26px Segoe UI;
letter-spacing: 0px;
color: #000000;
}

ul{
    text-align: center;
    margin-top: 39px;
}

hr{
border: 1px solid #707070;
opacity: 1;
margin-top: 16px;
margin-bottom: 0px;
width: 100%;
}

.graphic{
    width: 509px;
    height: 518px;
    margin-left: 30%;
    margin-right: 0;
}

.para1{
    width: 548px;
    margin-left: 10%;
    margin-top: 80px;
}
.para1 h1{
    font: normal normal 900 40px/54px Nunito Sans;
}

.para1 p{
    font: normal normal normal 18px/24px Nunito Sans;
}

.class1{
    display: flex;
}

.btn1{
margin-top: 30px;
width: 247px;
height: 65px;
box-shadow: none #1492E6;
background: #1492E6 0% 0% no-repeat padding-box;
border: #1492E6;
border-radius: 33px;
font: normal normal 600 23px/31px Nunito Sans;
letter-spacing: 0px;
color: #FFFFFF;
}

/* next page */

.class2{
    margin-top: 201px;
}

.class2 h2{
margin-top: 201px;
text-align: center;
font: normal normal bold 35px/47px Nunito Sans;
letter-spacing: 0px;
color: #000000;
}

.para2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px;
}

.box1{
    border: 1px solid black;
    height: 300px;
    margin: 0px 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;   
    border: none; 
}

.box1 h6{
text-align: center;
font: normal normal bold 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
margin-bottom: 0px;
margin-top: 30px;
}

.box1 p{
    padding: 14px;
    margin-bottom: 48px;
    overflow: hidden;
    font: normal normal 18px Nunito Sans
}

/* next page */

.class3{
    margin-top: 186px;
    margin-bottom: 0px;
}

.class3 h2{
    text-align: center;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 45px;
}

.para3{
    display: flex;
    justify-content: space-between;
    margin: 69px 230px;
}

.box2 img{
width: 200px;
height: 157px;
margin-bottom: 0px;
}

.box2 h6{
font: normal normal bold 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
margin-bottom: 0px;
margin-top: 40px;
}

.box2 p{
margin-top: 16px;
font: normal normal normal 16px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
}

.box2{
    margin: 0px 20px;
}

/* next page */

.class4 h2{
    margin-top: 138px;
    margin-bottom: 0px;
    text-align: center;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
}

.para4{
    margin-top: 103px;
}
.para4 span{
    text-align: left;
    display: block;
}
.box3{
    margin-left: 230px;
    margin-right: 620px;
}

.box4{
    margin-top: 56px;
    margin-bottom: 0px;
    margin-left: 750px;
    margin-right: 100px;
}

.box5{
    margin-top: 117px;
    margin-bottom: 0px;
    margin-left: 230px;
    margin-right: 620px;
}

.box6{
    margin-top: 77px;
    margin-left: 750px;
    margin-right: 100px;
}

.imgh{
    display: flex;
    height: 70px;
}
.imgh h5{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
    text-align: left;
    font: normal normal bold 24px/32px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
}
.para4 span p{
text-align: left;
font: normal normal normal 18px/28px Nunito Sans;
letter-spacing: 0px;
color: #000000;
margin-bottom: 0px;
}

.para4 span button{
        margin-top: 22px;
        width: 247px;
        height: 65px;
        box-shadow: none #1492E6;
        background: #1492E6 0% 0% no-repeat padding-box;
        border: #1492E6;
        border-radius: 33px;
        font: normal normal 600 23px/31px Nunito Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        
}

/* next page */

.class5{
    margin-top: 189px;
}

.class5 h3{
    text-align: center;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 0px;
}

.imgh1{
    background: #F8FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 48px #00000029;
border-radius: 42px;
height: 363px;
margin-top: 76px;
margin-left: 120px;
margin-right: 120px;
}

.arrow-btn{
margin-left: 98%;
width: 40px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 7px 17px #00000029;
border-radius: 50px;
position: relative;
top: 120px;
}

.arrow-btn h4{
padding-top: 10px;
text-align: center;
}

.imgh2 img{
    height: 63px;
    width: 64px;
    margin-top: 39px;
    margin-left: 43px;
    margin-right: 0px;
}

.imgh2 h4{
    margin-top: 53px;
    margin-left: 13px;
    font: normal normal 900 25px/34px Nunito Sans;
letter-spacing: 0px;
color: #000000;
margin-bottom: 0px;
}

.imgh2{
    display: flex;
}

.para5{
    margin-top: -30px;
    display: flex;
    margin-left: 100px;
    margin-right: 60px;
}

.box7{
height: 263px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 48px #00000029;
border-radius: 30px;
margin-left: 20px;
overflow: hidden;
padding: 28px 0 35px 27px;
margin-bottom: 0px;
}

.profile{
    display: flex;
}


.star{
    width: 10px;
    height: 10px;
}

.stars{
    margin-bottom: 0px;
    position: relative;
    left: 100px;
}

.box8{
    margin-top: 28px;
}

.profile-img{
    margin-right: 0;
}

.paragraph{
    margin-left: 50px;
    font: normal normal 600 12px/16px Nunito Sans;
    letter-spacing: 0px;
    color: #615C5C;
    position: relative;
    bottom: 35px;
}

.box8 h6{
    text-align: left;
    margin-top: 5px;
    font: normal normal 600 10px/18px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 0px;
    margin-left: 5px;
}

.imgh3{
    display: inline;
}


.p1 p{
font: normal normal normal 13px/18px Nunito Sans;
letter-spacing: 0px;
color: #000000;
margin-right: 10px;
margin-top: 10px;
}



.footer h3{
    margin-top: 298px;
    text-align: center;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 0px;
}

.footerlogo{
    margin-top: 142px;
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 280px;
    margin-bottom: 0px;
}

.footertext{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 290px;
    margin-top: -25px;
    margin-bottom: 0px;
}

.footertext h5{ 
font: normal normal bold 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
}

.footerPara{
    margin-top: 189px;
    border: #000000;
    width: 100%;
    height: 364px;
    background-color: #000000;
    padding-bottom: 52;
}

.footerPara p{
    color: #F8FAFC;
    position: relative;
    top: 288px;
    text-align: center;
    text-align: center;
    font: normal normal bold 18px/24px Nunito Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}